.cart-icon{
    font-size: 150px;
    color: green;
}
.form-group{
    font-size: 15px;
    color: black;
    padding: 5px 10px;
    width: 470px;
}
/*input[name="your invite key"]{*/
/*    font-size: 15px;*/
/*    color: black;*/
/*    padding: 5px 10px;*/
/*    width: 450px;*/
/*}*/
input[name="first name"]{
    font-size: 15px;
    color: black;
    padding: 5px 10px;
    width: 235px;
    /*padding-right: 5px;*/
    float: left;
    margin-right: 15px;
}
input[name="last name"]{
    font-size: 15px;
    color: black;
    padding: 5px 10px;
    width: 200px;
}
.section{
    width: 500px;
    height: auto;
    margin: auto;
    padding-top: 20px;
    background-image: url("../imgs/free-blurry-background-1636594.jpg");
}
.month{
    width: 135px;
    float: left;
    margin-right: 10px;
}
.day{
    width: 135px;
    float: left;
    margin-right: 10px;
}
.year {
    width: 160px;
}
.btn-success{
    margin-left: 177px;
}